<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
	<sly data-sly-call="${clientlib.all @ categories='newsportal.faq'}"></sly>

<h1>${properties.mainTitle}</h1>
<sly data-sly-test="${resource.hasChildren}" data-sly-list.outer="${resource.getChildren}">
    <sly data-sly-test="${outer.hasChildren}" data-sly-list.faq="${outer.getChildren}">
        <div>
            <div class="accordion-container">
                <div class="accordion-header">
                    <span>${faq.title}</span>
                    <span class="accordion-icon">+</span>
                </div>
                <div class="accordion-content">
                    <p>${faq.description @context='html'}</p>
                </div>
            </div>
    </sly>
</sly>