
.accordion-container {
    margin-top: 10px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    width: 100%;
    margin-left: 0;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f4f6;
    padding: 12px 16px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 2px solid #e5e7eb;
    transition: background-color 0.2s ease;
}

.accordion-header:hover {
    background-color: #e5e7eb;
}

.accordion-header.active {
    background-color: #d1d5db;
}

.accordion-icon {
    transition: transform 0.3s ease;
}

.accordion-header.active .accordion-icon {
    transform: rotate(180deg);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #ffffff;
}

.accordion-content.open {
    overflow: hidden;
    padding-left: 16px;
    padding-right: 26px;
}


.accordion-content p, .accordion-content ul, .accordion-content table {
    margin: 8px;
    color: #4b5563;
}

.accordion-content table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 16px;
    table-layout: fixed; 
}

.accordion-content table th, 
.accordion-content table td {
    border: 1px solid #d1d5db;
    padding: 10px;
    text-align: left;
    word-wrap: break-word; 
}

.accordion-content table th {
    background-color: #f3f4f6;
    font-weight: 600;
}

.accordion-content table tr:nth-child(even) {
    background-color: #f9fafb;
}

.bg-dark-blue h1
{
    color:white;
}
.bg-light-blue .accordion-header
{
    background:darkblue;
    color: #d1d5db;
}
.bg-light-blue .accordion-content
{
    background-color: rgb(8, 8, 54);
    
}
.bg-light-blue .accordion-content p{
  color: white;
}
@media (max-width: 768px) {
    .accordion-header {
        font-size: 1rem;
    }
    .accordion-content p, .accordion-content ul {
        margin: 12px;
    }
}